<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to The Super Cool Dating App</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <%= link_to "Log In", login_path, class: "btn btn-default", type: 'button' %>
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to "Sign Up", signup_path, class: "btn btn-default", type: 'button' %>
  </div>
</div>
